/* Scrollbar */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.4);
}
::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 190, 0.4);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(170, 170, 170, 0.4);
}

body {
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: overlay;
}

.HeaderHeight {
    user-select: none;
    height: 50px;
    line-height: 50px;
}

.FileEntryName {
    text-align: left;
    flex: auto;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    width: 1000px;
}

.FileEntrySize {
    text-align: center;
    flex: 0 1 auto;
    padding-left: 5px;
}

.FileEntryDelete {
    flex: 0 0 30px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}


CenteredItems {
}
@media only screen and (max-width: 1200px) {
    .CenteredItems {
        width: 90% !important;
        margin-left: 5% !important;
    }
}
@media only screen and (min-width: 1200px) {
    .CenteredItems {
        width: 1080px !important;
        margin-left: calc(50% - 540px); !important;
    }
}

.IconHeight {
    user-select: none;
    height: 60px;
    line-height: 50px;
}
